{% extends 'admin_base.html' %}

{% block main %}




<div class="card shadow">
  <div class="card-body">
    <h5 class="p-2" style="border-bottom : 2px solid orange">View Donation Detail </h5>
    <div class="container-fluid">
      <table  id="example" class="table table-bordered">
          <tr align="center">
              <td colspan="4" style="font-size :20px ; color :red">Donor Details</td>

          </tr>
          <tr>
              <th>Donor Name</th>
              <td>{{donation.donor.user.first_name}} {{donation.donor.user.last_name}}</td>
          <th> Donor Contact</th>
              <td>{{donation.donor.contact}}</td>
          </tr>

          <tr>
              <th>Email</th>
              <td>{{donation.donor.user.username}}</td>
          <th> Donor Pic</th>
              <td><img src="{{donation.donor.userpic.url}}"width="50px" height="50px"></td>
          </tr>

          <tr align="center">
              <td colspan="4" style="font-size :20px ; color :red">Donor Details</td>
          </tr>

          <tr>
              <th>Donation Type</th>
              <td>{{donation.donationtype}}</td>
          <th> Donation Pic</th>
              <td><img src="{{donation.donor.userpic.url}}"width="50px" height="50px"></td>
          </tr>

          <tr>
              <th>Collection Location</th>
              <td>{{donation.collectionloc}}</td>
          <th> Donation Date</th>
              <td>{{donation.donationdate}}</td>
          </tr>

          {% if donation.status == "pending" %}
          <form method="POST">
              {% csrf_token %}
              <tr>
                  <th>status</th>
                  <td colspan="3">
                      <select name="status" class="form-control" required>
                          <option value="accept">Accept</option>
                          <option value="reject">Reject</option>
                      </select>
                  </td>
              </tr>

          </form>

          {% else %}

          {% endif %}


      </table>
     </div>

  </div>
</div>

{% endblock %}