body{

background-image : linear-grafients(135.9deg,rgba(109,25,252,1) 16.4%,rgba(125,31,160,1)
min-height:100vh;

}

.vertical-navl{
min-width :17rem;
width :17rem;
height:100vh;
position:fixed;
top:0;
left:0;

transition: all 0.4s;
}

.page-content{
width:calc(100% - 17rem);
margin-left:17rem;
transition:all 0.4s;

}

#sidebar.active{
margin-left: -17rem;
}

#content.active{
width :100%;
margin :0;
}

,dashboard-text{
letter-spacing :0.lem;
color :blue;
}


,nav-link{
font-width :bold;
}
